<footer class="bg-gray-900 text-white ">
  <span class="block p-8 text-center">
    Made with ❤️ by
    <a class="underline" target="_blank "href="https://mattwaler.com">
      Matt Waler
    </a>
  </span>
</footer>
