<header class="bg-gray-900 text-white">
  <nav class="max-w-4xl mx-auto p-8 flex justify-between">
    <a class="border-b-2 border-white" href="/">
      11ty Starter
    </a>
    <ul class="flex">
      {% for item in navigation.header %}
        <li class="ml-8">
          <a class="border-b-2 border-white" href="{{ item.link }}">
            {{ item.text -}}
          </a>
        </li>
      {% endfor %}
    </nav>
    </ul>
</header>
