---
title: Homepage
---

{% extends 'page.njk' %}

{% block body %}
  <div class="max-w-4xl mx-auto p-8">
    <h1 class="h1">{{ title }}</h1>
    <article data-message></article>
    <article data-navigation></article>
  </div>
{% endblock %}
